In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot

In [5]:
data = pd.read_csv("covid19_utf8.csv")
data.head()

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서초구 전체,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가
0,2022.09.18.00,63754,68,57576,70,99069,104,137062,142,166691,...,189287,241,243626,271,310841,341,216999,292,292894,274
1,2022.09.17.00,63686,107,57506,86,98965,151,136920,204,166471,...,189046,245,243355,296,310500,485,216707,340,292620,498
2,2022.09.16.00,63579,146,57420,105,98814,172,136717,257,166196,...,188801,329,243059,397,310015,605,216367,449,292125,588
3,2022.09.15.00,63433,163,57315,111,98642,228,136460,273,165849,...,188472,418,242662,521,309410,690,215918,496,291533,823
4,2022.09.14.00,63270,229,57204,173,98414,343,136187,450,165410,...,188054,560,242143,692,308720,980,215422,877,290710,912

In [6]:
data_220608=data.iloc[18:110][::-1]
data_220608

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서초구 전체,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가
109,2022.06.01.00,48506,37,44042,28,73962,62,106338,84,127469,...,141686,130,183627,311,234701,146,165214,105,221857,186
108,2022.06.02.00,48530,24,44056,14,73995,33,106441,103,127519,...,141775,89,183844,217,234821,120,165296,82,221962,105
107,2022.06.03.00,48560,30,44077,21,74065,71,106629,188,127573,...,141891,116,183964,120,234960,139,165378,83,222103,141
106,2022.06.04.00,48592,32,44096,19,74172,107,106738,109,127648,...,142011,120,184107,143,235066,106,165454,76,222269,166
105,2022.06.05.00,48618,26,44127,31,74212,40,106797,59,127695,...,142083,72,184218,111,235194,128,165521,67,222359,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,2022.08.27.00,60604,183,54915,172,94288,314,130683,419,158105,...,179710,603,231603,741,294850,1009,205306,661,278070,955
21,2022.08.28.00,60746,142,55058,143,94541,253,131023,340,158591,...,180247,537,232243,640,295658,808,205914,608,278712,642
20,2022.08.29.00,60805,59,55116,58,94651,110,131163,140,158803,...,180527,280,232569,326,295994,336,206243,329,279081,369
19,2022.08.30.00,61082,280,55347,231,95075,425,131684,522,159451,...,181253,726,233682,1114,297397,1404,207162,921,280255,1156
18,2022.08.31.00,61175,211,55470,162,95368,319,132088,445,159949,...,181883,650,234434,782,298380,1015,207894,743,280896,1061

In [7]:
import matplotlib as mpl

In [8]:
print(mpl.matplotlib_fname())

C:\ProgramData\Anaconda3\envs\statenv\lib\site-packages\matplotlib\mpl-data\matplotlibrc